{% extends 'base.html.twig' %}

{% block title %}{{ site.name }} | Foo{% endblock %}

{% block content %}

    <h1>Lorem Ipsum Dolor Sit</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur consequuntur id incidunt, nihil quae rem
        reprehenderit tempora tempore ut voluptatum? Atque consectetur, culpa dignissimos doloribus eaque expedita
        incidunt iusto neque, perspiciatis quidem quisquam quo reprehenderit repudiandae rerum tempore, veritatis
        voluptatum.
    </p>

{% endblock %}