{% extends 'base.html.twig' %}

{% block content %}

    <h1>{{ site.name }}</h1>

    <p>This is my homepage!</p>

    <h2>Blog</h2>

    <ul>
        <li><a href="/blog/foo.html">Foo</a></li>
    </ul>

{% endblock %}